@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
  background: #303030;
}

ul,ol,li,h1,p,a{
  color: white;
}
button{
  background: white;
  color: black;
  border: 1px solid black ;
  border-radius: 5px;
  padding: 1px;
  cursor: pointer;
}